{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title "Profil" %}

{% block content %}
    <h2>Dein Profil, {{ user.name }}</h2>

    <p>Über dein Profil kannst du anderen Vereinsmitgliedern mitteilen wer du bist und was du tust.</p>

    {% if app.request.session.hasFlash('profile.password_changed') %}
        <p class="flash">Dein Passwort wurde geändert!</p>
    {% endif %}

    {% if app.request.session.hasFlash('profile.profile_changed') %}
        <p class="flash">Dein Profil wurde geändert!</p>
    {% endif %}

    <form action="" {{ form_enctype(profile_form) }} method="post">

    {% if user.image is defined and user.image.id %}
        <img style="display: none;" class="avatar" src="{{ asset('uploads/' ~ user.image.thumbname) }}" alt="" />
    {% endif %}

        {{ form_widget(profile_form) }}

        <button type="submit">Profil ändern</button>
    </form>

    <ul>
        <li>Ein Sternchen (*) am Anfang einer Zeile erzeugt eine Liste.</li>
        <li>Ebenfalls mit zwei Sternchen lassen sich bestimmte Dinge *<em>hervorheben</em>*.</li>
        <li>Links werden automatisch verknüpft. Bestimmte Wortgruppen können verlinkt werden, indem man sie in [eckige Klammern] schreibt und die URL unmittelbar dahinter platziert.</li>
        <li>Überschriften lassen sich erstellen, indem man in der nächsten Zeile mit mindestens fünf Bindstrichen ------ eine Unterstreichung andeutet.</li>
        <li>Vorstandsmitglieder können die Zeile <code>### VORSTAND</code> einfügen. Alles was danach kommt, wird im öffentlichen Bereich angezeigt.</li>
    </ul>

    <h2>Vorschau</h2>
    <p class="preview"></p>

    <h2 id="password">Passwort ändern</h2>
    <form action="#password" method="post">

        {{ form_widget(password_form) }}

        <button type="submit">Password ändern</button>
    </form>

{% endblock %}
