{% block content %}
    <ul>
        <li>
            <a href="{{ url('index') }}">HOME</a>
        </li>

        <li>
            <a href="{{ url('submenu') }}">VEREIN</a> &#x25BE;
            <ul>
                <li>
                    <a href="{{ url('board') }}">VORSTAND</a>
                </li>
                <li>
                    <a href="{{ url('statute') }}">SATZUNG</a>
                </li>
                <li>
                    <a href="{{ url('application') }}">MITGLIEDSCHAFT</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="{{ url('gallery') }}">GALERIE</a>
        </li>

        <li>
            <a href="{{ url('downloads') }}">DOWNLOADS</a>
        </li>

        <li>|</li>

        <li>
            <a href="{{ url('internal') }}">INTERN</a> &#x25BE;
            <ul>
                <li>
                    <a href="{{ url('jobs') }}">JOBS</a>
                </li>

                <li>
                    <a href="{{ url('members', {page:1}) }}">MITGLIEDER</a>
                </li>

                <li>
                    <a href="/forum">FORUM</a>
                </li>

                <li>
                    <a href="/wiki">WIKI</a>
                </li>
            </ul>
        </li>

        {% if is_granted('ROLE_MEMBER') %}
            <li>
                <a href="{{ url('profile') }}">DEIN PROFIL</a>
            </li>
            <li>
                <a href="{{ url('logout') }}">LOGOUT</a>
            </li>
        {% else %}
            <li>
                <a href="{{ url('login') }}">LOGIN</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SHOW_ADMIN') %}
            <li>|</li>
            <li>
                <a href="{{ url('admin_index') }}">ADMIN</a>
            </li>
        {% endif %}
    </ul>

{% endblock %}