{% extends 'MdkybWebsiteBundle:Admin:layout.html.twig' %}

{% form_theme form 'MdkybWebsiteBundle:Admin:fields.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Administration</a> <span class="divider">/</span></li>
        <li><a href="{{ url('admin_list', {name:object_name}) }}">{{ config.label }}</a> <span class="divider">/</span></li>
        <li class="active">Erstellen</li>
    </ul>

    <div class="page-header">
        <h1>{{ config.label }} erstellen</h1>
    </div>

    <form class="form-horizontal" action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Erstellen" />
        </div>
    </form>

{% endblock %}