{% extends 'MdkybWebsiteBundle:Admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Administration</a> <span class="divider">/</span></li>
        <li><a href="{{ url('admin_list', {name:object_name}) }}">{{ config.label }}</a> <span class="divider">/</span></li>
        <li class="active">Löschen</li>
    </ul>

    <div class="page-header">
        <h1>{{ config.label }} löschen</h1>
    </div>

    <form action="" method="post">
        {{ config.label }} wirklich löschen?

        <div class="form-actions">
            <input class="btn btn-danger" type="submit" value="Löschen!" />
        </div>
    </form>

{% endblock %}