{% extends 'form_div_layout.html.twig' %}

{% block generic_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' control-label'}) %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans }}</label>
{% endspaceless %}
{% endblock %}

{% block field_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form, label|default(null)) }}
        <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block textarea_widget %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }} style="width:100%;">{{ value }}</textarea>
    <p class="preview well"></p>
{% endspaceless %}
{% endblock textarea_widget %}
