{% extends 'MdkybWebsiteBundle:Admin:layout.html.twig' %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Administration</a> <span class="divider">/</span></li>
        <li class="active">{{ config.label }}</li>
    </ul>

    <div class="page-header">
        <h1>{{ config.label }}</h1>
    </div>

    {% if app.request.session.hasFlash('admin.deleted') %}
        <div class="alert alert-success">
            {{ config.label }} wurde gelöscht.
        </div>
    {% endif %}

    <div class="well">

        <a class="btn btn-primary" href="{{ url('admin_create', {name:object_name}) }}">{{ config.label }} erstellen</a>

        <form style="margin-top: 15px;" class="form-inline" method="post" action="">
            <select name="order_by">
                {% for name, field in fields if field.orderable and field.list %}
                    <option value="{{ name }}"
                    {% if order_by == name %}selected{% endif %}
                    >{{ field.label }}</option>
                {% endfor %}
            </select>

            <select name="order_dir">
                <option value="asc" {% if order_dir == 'asc' %}selected{% endif %}>Aufsteigend</option>
                <option value="desc" {% if order_dir == 'desc' %}selected{% endif %}>Absteigend</option>
            </select>

            <input type="submit" value="Sortieren" />

        </form>

        <form method="post" action="" class="form-inline">
            <select name="filter_field">
                <option value=""></option>
                {% for name, field in fields if field.filterable and field.list %}
                    <option value="{{ name }}"
                    {% if filter_field == name %}selected{% endif %}
                    >{{ field.label }}</option>
                {% endfor %}
            </select>

            <input name="filter_value" type="text" value="{{ filter_value }}" />
            <input type="submit" value="Filtern" />
        </form>

    </div>

    <div class="pagination">
        {% for page in pages %}
            {% if page.type == 'current' %}
                <li class="active"><a href="#">{{ page.number }}</a></li>
            {% elseif page.type == 'link' %}
                <li><a href="{{ url('admin_list_page', {name:object_name, page:page.number}) }}">{{ page.number }}</a></li>
            {% elseif page.type == 'separator' %}
                <li>...</li>
            {% endif %}
        {% endfor %}
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                {% for name, field in fields %}
                    {% if field.list %}
                        <th>{{ field.label }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                {% for name, field in fields %}
                    {% if field.list %}
                        <td>
                            <a href="{{ url('admin_edit', {name: object_name, id: attribute(object, identifier)}) }}">
                            {% if field.format == 'text' %}
                                {{ attribute(object, name) }}
                            {% elseif field.format == 'date' %}
                                {{ attribute(object, name)|date }}
                            {% elseif field.format == 'boolean' %}
                                {% if attribute(object, name) %}
                                    true
                                {% else %}
                                    false
                                {% endif %}
                            {% elseif field.format == 'list' %}
                                {% for item in attribute(object, name) %}
                                    {{ item }}
                                {% endfor %}
                            {% endif %}
                            </a>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% for page in pages %}
            {% if page.type == 'current' %}
                <li class="active"><a href="#">{{ page.number }}</a></li>
            {% elseif page.type == 'link' %}
                <li><a href="{{ url('admin_list_page', {name:object_name, page:page.number}) }}">{{ page.number }}</a></li>
            {% elseif page.type == 'separator' %}
                <li>...</li>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}