<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Verein Magdeburger Kybernetiker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <link href="{{ asset('bundles/mdkybwebsite/less.main.css') }}" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700' rel='stylesheet' type='text/css'>
        {% block head '' %}
    </head>
    <body>
        <div id="container">
            <div id="left">
                <a href="{{ url('index') }}"><img src="{{ asset('bundles/mdkybwebsite/logo.png') }}" alt="Logo" /></a>
                <a href="{{ url('index') }}">VEREIN MAGDEBURGER KYBERNETIKER</a>
            </div>
            <div id="nav">
                {% render "MdkybWebsiteBundle:StaticContent:showMenu" %}
            </div>
            <div id="content">
                {% block content '' %}
            </div>
        </div>
        <script src="{{ asset('bundles/mdkybwebsite/dropdown.js') }}"></script>
    </body>
</html>
