<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Magdeburger Kybernetiker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        {% block menu %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ url('profile') }}">{{ app.user.name }}</a> |
                <a href="{{ url('logout') }}">Abmelden</a>
            {% else %}
                <a href="{{ url('login') }}">Einloggen</a>
            {% endif %}
            |
            {% render "MdkybWebsiteBundle:StaticContent:showMenu" %}
            |
            <a href="/forum">Forum</a>
            <a href="/wiki">Wiki</a>
        {% endblock %}
        <hr />
        {% block content '' %}
        <hr />
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('admin_index') }}">Administrationsbereich</a>
        {% endif %}
    </body>
</html>
