<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Verein Magdeburger Kybernetiker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <link href="{{ asset('bundles/mdkybwebsite/less.main.css') }}?201206201" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700' rel='stylesheet' type='text/css'>
        {% block head '' %}
    </head>
    <body>
        <div id="container">
            <div id="left">
                <a href="{{ url('index') }}"><img src="{{ asset('bundles/mdkybwebsite/logo.png') }}" alt="Logo" /></a>
                <a href="{{ url('index') }}">VEREIN MAGDEBURGER KYBERNETIKER</a>
            </div>
            <div id="social">
                <a href="https://twitter.com/mdkyb" class="twitter-follow-button" data-show-count="false" data-lang="de" data-dnt="true">@mdkyb folgen</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmagdeburgerkybernetiker.de&amp;send=false&amp;layout=button_count&amp;width=125&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=203208013135317" scrolling="no" frameborder="0" style="margin-left:7px; border:none; overflow:hidden; width:125px; height:21px;" allowTransparency="true"></iframe>
            </div>
            <div id="nav">
                {% render "MdkybWebsiteBundle:StaticContent:showMenu" %}
            </div>
            <div id="content">
                {% block content '' %}
                <div id="footer">
                    <div class="copyright">
                        COPYRIGHT 2012 <a href="{{ url('owner') }}">VEREIN MAGDEBURGER KYBERNETIKER</a>
                    </div>
                    <ul>
                        <li class="title">VEREIN</li>
                        <li><a href="{{ url('index') }}">HOME</a></li>
                        <li><a href="{{ url('gallery') }}">GALLERIE</a></li>
                        <li><a href="{{ url('board') }}">VORSTAND</a></li>
                        <li><a href="{{ url('statute') }}">SATZUNG</a></li>
                        <li><a href="{{ url('application') }}">MITGLIEDSCHAFT</a></li>
                    </ul>
                    <ul>
                        <li class="title">INTERN</li>
                        <li><a href="{{ url('downloads') }}">DOWNLOADS</a></li>
                        <li><a href="{{ url('members', {page:1}) }}">MITGLIEDER</a></li>
                        <li><a href="{{ url('jobs') }}">JOBS</a></li>
                        <li><a href="/forum">FORUM</a></li>
                        <li><a href="/wiki">WIKI</a></li>
                    </ul>
                    <ul>
                        <li class="title">MISC</li>
                        <li><a href="{{ url('owner') }}">IMPRESSUM</a></li>
                        <li><a href="{{ url('legal') }}">RECHTLICHES</a></li>
                    </ul>

                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <script src="{{ asset('bundles/mdkybwebsite/dropdown.js') }}"></script>
    </body>
</html>
