{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title 'Blog' %}

{% block content %}

    <p>Hier gibt es aktuelle Neuigkeiten zum Verein.</p>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <div class="p">
            <p class="date">{{ post.publishedAt|date('d.m.Y H:i:s') }}</p>
            <p>{{ post.content|raw }}</p>
        </div>

    {% endfor %}
    
    {% if page > 1 or show_next %}
        <h2>Navigation</h2>
        <p>
            {% if page > 1%}
                <a href="{{ url('blog_page', {page:page-1}) }}">Neuere Posts</a>
            {% endif %}
            {% if show_next %}
                <a style="float:right;" href="{{ url('blog_page', {page:page+1}) }}">Ältere Posts</a>
            {% endif %}
        </p>
    {% endif %}

{% endblock %}