{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title 'Gallerie' %}

{% block head %}
    <script src="{{ asset('bundles/mdkybwebsite/js/lightbox.js') }}"></script>
    <link href="{{ asset('bundles/mdkybwebsite/css/lightbox.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <h1>GALERIE</h1>

    <p>Hier sind Bilder vom Verein zu finden.</p>

    {% for gallery in galleries %}
        <h2>{{ gallery.title }}</h2>
        <p>{% for image in gallery.images %}
            <a rel="lightbox[{{ gallery.title }}]" href="{{ asset('uploads/' ~ image.filename) }}"><img src="{{ asset('uploads/' ~ image.thumbname) }}" title="{{ image.title }}" class="gallery" alt="" /></a>
        {% endfor %}</p>
    {% endfor %}

{% endblock %}