{% extends 'MdkybWebsiteBundle::layout.html.twig' %}

{% block title 'Gallerie' %}

{% block head %}
    <script src="{{ asset('bundles/mdkybwebsite/js/lightbox.js') }}"></script>
    <link href="{{ asset('bundles/mdkybwebsite/css/lightbox.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <h1>GALERIE</h1>

    <p>Hier sind Bilder vom Verein zu finden.</p>

    {% for gallery in galleries %}
        {% if loop.index < 3 %}
            <h2>{{ gallery.title }}</h2>

            <div class="p">
                {% for image in gallery.images if loop.index < 5 %}
                <div class="gallery">
                    <a rel="lightbox[{{ gallery.title }}]" href="{{ asset('uploads/' ~ image.filename) }}"><img src="{{ asset('uploads/' ~ image.thumbname) }}" title="{{ image.title }}" alt="" /></a>
                    <span><br />{{ image.title }}</span>
                </div>
                {% endfor %}
                <div class="gallery last">
                <a href="{{ url('show_gallery', {id:gallery.id}) }}">Mehr Informationen {% if gallery.images|length > 5 %}
                    und Bilder {% endif %}</a>
                </div>
                <div class="gallery-stop"></div>
            </div>
        {% else %}
            {% if loop.index == 3 %}
                <h2>Ältere Gallerien</h2>
            {% endif %}
            <p><a href="{{ url('show_gallery', {id:gallery.id}) }}">{{ gallery.title }}</a></p>
        {% endif %}
    {% endfor %}

{% endblock %}